/* WP Admin Bar */
#wp-admin-bar {
position: fixed;
top: 0;
left: 0;
z-index: 99;
height: 25px;
font-size: 11px;
width: 100%;
z-index: 1000;
}
#wp-admin-bar .padder {
position: relative;
padding: 0;
width: 100%;
margin: 0 auto;
height: 25px;
}
body#bp-default #wp-admin-bar .padder {
min-width: 980px;
max-width: 1250px;
}
body#bp-default.activity-permalink #wp-admin-bar .padder {
min-width: 980px;
max-width: 980px;
}
#wp-admin-bar * {
z-index: 999;
}
#wp-admin-bar div#admin-bar-logo {
position: absolute;
top: 5px;
left: 10px;
}
#wp-admin-bar a img {
border: none;
}
#wp-admin-bar li {
list-style: none;
margin: 0;
padding: 0;
line-height: 100%;
text-align: left;
}
#wp-admin-bar li a {
padding: 7px 15px 7px 15px;
color: #eee;
text-decoration: none;
font-size: 11px;
}
#wp-admin-bar li.alt { border: none; }
#wp-admin-bar li.no-arrow a {
padding-right: 15px;
}
#wp-admin-bar ul li ul li a span {
display: none;
}
#wp-admin-bar li:hover, #wp-admin-bar li.hover {
position: static;
}
#admin-bar-logo {
float: left;
font-weight: bold;
font-size: 11px;
padding: 5px 8px;
margin: 0;
text-decoration: none;
color: #fff;
}
#wp-admin-bar #admin-bar-logo {
padding: 7px 8px !important;
}
body#bp-default #admin-bar-logo {
padding: 2px 8px;
}
#wp-admin-bar ul {
margin: 0;
list-style: none;
line-height: 1;
cursor: pointer;
height: auto;
padding: 0;
}
#wp-admin-bar ul li {
padding: 0;
float: left;
position: relative;
padding-right: 11px;
}
#wp-admin-bar ul li.no-arrow {
background: none;
padding-right: 0;
}
#wp-admin-bar ul li ul li {
background-image: none;
}
#wp-admin-bar ul li.align-right {
position: absolute;
right: 0;
}
#wp-admin-bar ul li a {
display: block;
}
#wp-admin-bar ul.main-nav li:hover, #wp-admin-bar ul.main-nav li.sfhover, #wp-admin-bar ul.main-nav li ul li.sfhover {
background-color: #333;
}


/* Second-level lists */
#wp-admin-bar ul li ul {
position: absolute;
width: 185px;
left: -999em;
margin-left: 0;
background: #333;
box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius-topleft: 0;
-webkit-border-top-left-radius: 0;
-moz-border-radius-topright: 0;
-webkit-border-top-right-radius: 0;
}
#wp-admin-bar ul li > ul {
border-top: none;
}
#wp-admin-bar ul li ul a {
color: #eee;
}
#wp-admin-bar ul li ul li {
float: left;
width: 174px;
margin: 0;
}
#wp-admin-bar ul li ul li:hover a {
color: #fff;
}
#wp-admin-bar ul li div.admin-bar-clear {
clear: both;
}
#wp-admin-bar ul.main-nav li ul li:hover, #wp-admin-bar ul.main-nav li ul li.sfhover, #wp-admin-bar ul.main-nav li ul li.sfhover {
background-color: #222;
}


/* Third-and-above-level lists */
#wp-admin-bar ul li ul ul {
margin: -25px 0 0 184px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
#wp-admin-bar ul li ul li:hover ul li a {
color: #eee;
}
#wp-admin-bar ul li ul li ul li:hover a {
color: #fff;
}
#wp-admin-bar ul li:hover ul, #wp-admin-bar ul li ul li:hover ul, #wp-admin-bar ul li.sfhover ul, #wp-admin-bar ul li ul li.sfhover ul  {
left: auto;
}
#wp-admin-bar ul li.align-right:hover ul {
right: 0;
}
#wp-admin-bar ul li:hover ul ul, #wp-admin-bar li.sfhover ul li ul {
left: -999em;
}


/* Menu item css */
#wp-admin-bar img.avatar {
float: left;
margin-right: 8px;
}
#wp-admin-bar span.activity {
display: block;
margin-left: 34px;
padding: 0;
}
#wp-admin-bar ul.author-list li a {
height: 17px;
}
#wp-admin-bar ul li#bp-adminbar-notifications-menu a span {
padding: 0 6px;
margin-left: 2px;
background: #fff;
color: #000;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}


/* Customize/Override to Admin Bar Styles */
#wp-admin-bar .padder {
height: 28px;
}
#admin-bar-logo {
padding: 7px 15px;
font-size: 12px;
}
#wp-admin-bar ul li {
border-width: 0 1px;
}
#wp-admin-bar li a {
padding: 9px 15px 10px 15px;
font-size: 12px; 
}
#wp-admin-bar ul li ul li {
background-image: none;
border: none;
}


/* Containers */
#bp-wrapper {
float: left;
width: 920px;
padding: 30px;
background: #fff;
background-image: -moz-linear-gradient(top, #ffffff, #fafafa);
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#fafafa));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#fafafa);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#fafafa)";
}
#bp-wrapper #content {
float: left;
position: relative;
width: 590px;
}
#bp-wrapper #sidebar {
float: right;
margin-left: 30px;
}


/* List Styling */
#bp-wrapper ul li {
margin: 0;
}


/* Navigation Tabs */
div.item-list-tabs {
margin: 15px 0;
padding: 0;
background: url(../images/border.gif) repeat-x 0 33px;
overflow: hidden;
clear: both;
position: relative;
}

div.item-list-tabs ul {
list-style: none;
margin: 0;
padding: 0;
line-height: 200%;
}
div.item-list-tabs ul li {
float: left;
margin-right: 0;
position: relative;
top: 1px;
font-size: 11px;
}
div.item-list-tabs ul li.selected {
border: 1px solid #e5e5e5;
border-bottom-color: #fff;
background-color: #fff;
z-index: 3;
}
div.item-list-tabs ul li a,
div.item-list-tabs ul li span {
padding: 10px 7px;
line-height: 12px;
display: block;
margin: 0;
color: #999;
font-weight: bold;
}
div.item-list-tabs ul li a span {
display: inline;
padding: 1px 4px;
background: #e6e6e6;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-left: 3px;
}	
div.item-list-tabs ul li.selected a span {
color: #333;
}	
div.item-list-tabs#subnav ul li a {
border: none;
padding: 0;
margin-right: 15px;
font-weight: bold;
}
div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li a:hover,
div.item-list-tabs ul li.current a,
div.item-list-tabs ul li a span:hover,
div.item-list-tabs ul li a:hover span {
color: #333;
}
div.item-list-tabs ul li.last { float: right; }


/* Object Lists (groups/members/forums/blogs) */
ul.item-list {
margin: 10px 0 20px 0;
padding: 0;
list-style: none;
width: 100%;
}
ul.item-list li { position: relative; }
ul.item-list div.item-avatar {
float: left;
}
ul.item-list div.item {
margin-left: 65px;
}
ul.item-list div.action {
position: absolute;
top: 0;
right: 15px;
text-align: right;
}


/* Content Object Headers */
div#item-header {
padding-bottom: 15px;
overflow: hidden;
}
div#item-header div#item-actions {
float: right;
width: 20%;
}
div#item-header div#item-header-avatar {
float: left;
margin-right: 15px;
}
div#item-header div#item-header-content {
margin-left: 170px;
}


/* Activity Stream Post Form */
form#whats-new-form {
overflow: hidden;
padding-bottom: 20px;
}
form#whats-new-form #whats-new-avatar {
float: left;
}
form#whats-new-form h5 {
clear: none;
margin-left: 76px;
}
form#whats-new-form #whats-new-content {
margin-left: 54px;
padding-left: 22px;
}
form#whats-new-form #whats-new-textarea {
padding: 7px;
border: 1px solid #e5e5e5;
margin-bottom: 10px;
}
form#whats-new-form textarea {
width: 100%;
height: 60px;
font-size: 12px;
font-family: inherit;
color: #333;
border: none;
margin: 0;
padding: 0;
}
form#whats-new-form #whats-new-submit {
float: right;
margin: 0;
}


/* Activity Stream Post Form */
ul.activity-list {
margin: 0;
padding: 0;
}
ul.activity-list li {
overflow: hidden;
padding: 20px 0;
}
ul.activity-list li img.avatar {
float: left;
width: 60px;
height: 60px;
}
ul.activity-list li div.activity-content {
margin-left: 75px;
}
ul.activity-list li div.activity-comments {
margin: 15px 0 0 38px;
}
ul.activity-list li div.activity-comments ul li {
padding: 5px 0;
}
ul.activity-list li div.activity-comments img.avatar {
width: 25px;
height: 25px;
}
ul.activity-list li div.acomment-content, ul.activity-list li div.acomment-meta {
margin-left: 35px;
}
ul.activity-list li div.activity-inreplyto {
margin: 15px 0 0 75px;
font-size: 11px;
}


/* Activity comment forms */
form.ac-form { display: none; }
div.activity-comments form {
display: none;
margin: 10px 0 10px 33px;
padding: 8px;
}
div.activity-comments div#message {
margin-top: 15px;
margin-bottom: 0;
}
div.activity-comments form.loading {
background-image: url( ../images/ajax-loader.gif );
background-position: 2% 95%;
background-repeat: no-repeat;
}

div.activity-comments form .ac-textarea {
padding: 7px;
border: 1px solid #e5e5e5;
margin-bottom: 10px;
}
div.activity-comments form textarea {
width: 100%;
height: 60px;
border: none;
padding: 0;
}
div.activity-comments form input {
margin-top: 5px;
}
div.activity-comments form div.ac-reply-avatar {
float: left;
}
div.activity-comments form div.ac-reply-content {
margin-left: 25px;
padding-left: 15px;
}


/* Standard Input Forms */
form.standard-form label, form.standard-form span.label {
display: block;
margin: 15px 0 5px 0;
}
form.standard-form div.checkbox label,
form.standard-form div.radio label {
font-weight: normal;
margin: 5px 0 0 0;
}
form.standard-form textarea {
width: 75%;
height: 120px;
}
table tr td.label {
border-right: 1px solid #e5e5e5;
width: 25%;
}

/* Send Invites Form */
form#send-invite-form {
margin-top: 20px;
}
div#invite-list {
height: 400px;
overflow: scroll;
padding: 5px;
width: 160px;
margin: 10px 0;
}


/* Directory search forms */
form.dir-form div.dir-search {
float: right;
width: 45%;
margin: -39px 0 25px 0;
}


/* BuddyPress Styles for Theme */
#bp-wrapper h5 {margin-bottom: 5px;}
#item-body { margin-top: 10px; }
#item-buttons .generic-button { float: left; margin: 0 4px 4px 0; }
#bp-wrapper .standard-form .submit { margin: 1em 0; }
#bp-wrapper ul {list-style: none;}
#bp-wrapper #settings-form .notification-settings { width: 100%; margin: 1em 0; border: 1px solid #e5e5e5; }
#bp-wrapper #settings-form .notification-settings thead { background: #f5f5f5; }
#bp-wrapper #settings-form .notification-settings .yes, 
#bp-wrapper #settings-form .notification-settings .no { width: 50px; text-align: center; }
#bp-wrapper #settings-form .notification-settings .icon { width: 1px; padding: 0; }
#bp-wrapper #settings-form .submit { margin: 1em 0; clear: both; }
#bp-wrapper #send_message_form #subject { width: 400px; }
#bp-wrapper .small { font-size: small; }


/* Title/header */
#bp-wrapper .entry-header { margin-bottom: 25px; }
#bp-wrapper .entry-header .sep { color: #eee; }
#bp-wrapper div#item-header { padding-bottom: 0; margin-bottom: 15px; }
div#item-header div#item-meta {margin-top: 15px;line-height:19px;}
#bp-wrapper #item-header #item-header-content .entry-title { margin-bottom: 5px; }
#bp-wrapper #item-header #item-header-content .highlight.insetBox 
{ display: inline; padding: 2px 6px; text-transform: uppercase; font-size: 10px; font-weight: bold; margin-right: 5px; }
#bp-wrapper #item-header #item-header-content .activity,
#bp-wrapper span.activity 
{font-size: 11px; color: #999;} 
#bp-wrapper .titleHasButtons { float: left; }
#bp-wrapper .titleButtons { float: left; line-height: 33px; }
#latest-update {
margin-bottom: 10px;
}

/* Search */
#bp-wrapper .dir-search { width: auto; line-height: 33px; }
#bp-wrapper .dir-search #members_search, 
#bp-wrapper .dir-search #groups_search, 
#bp-wrapper .dir-search #forums_search,
#bp-wrapper .dir-search #blogs_search { width: 120px; }


/* Pagination */
#bp-wrapper .dir-list .bp-pagination, 
#bp-wrapper #item-body .bp-pagination { font-size: 11px; margin: 1em 0; }
#bp-wrapper .dir-list .bp-pagination .pagination-links, 
#bp-wrapper #item-body .bp-pagination .pagination-links { float: right; }


/* Lists */
#bp-wrapper .dir-list ul.item-list,
/*#bp-wrapper #group-list.item-list,*/
#bp-wrapper #groups-list.item-list,
/*#bp-wrapper #member-list.item-list,*/
#bp-wrapper #members-list.item-list,
/*#bp-wrapper #blog-list.item-list,*/
#bp-wrapper #blogs-list.item-list {
border-top: 1px solid #eee;
}
#bp-wrapper .dir-list ul.item-list,
/*#bp-wrapper #group-list.item-list,*/
#bp-wrapper #groups-list.item-list,
/*#bp-wrapper #member-list.item-list,*/
#bp-wrapper #members-list.item-list,
/*#bp-wrapper #blog-list.item-list,*/
#bp-wrapper #blogs-list.item-list {
border-top: 1px solid #eee;
}
#bp-wrapper .dir-list .item-list li,
#bp-wrapper #group-list.item-list li,
#bp-wrapper #groups-list.item-list li,
#bp-wrapper #members-list.item-list li,
#bp-wrapper #member-list.item-list li,
#bp-wrapper #blog-list.item-list li,
#bp-wrapper #blogs-list.item-list li	{
border-bottom: 1px solid #eee; padding: 15px 0;
}
#bp-wrapper .dir-list .item-list .item,
#bp-wrapper #group-list.item-list .item,
#bp-wrapper #groups-list.item-list .item,
#bp-wrapper #member-list.item-list .item,
#bp-wrapper #members-list.item-list .item,
#bp-wrapper #blog-list.item-list .item,
#bp-wrapper #blogs-list.item-list .item { padding-top: 2px;}

#bp-wrapper .bp-widget ul.item-list {
margin-top: 8px;
padding-top: 8px;
border-top: 1px solid #EEE;
}
#bp-wrapper ul.item-list li {
float: left;
width: 100%;
clear: both;
}
#bp-wrapper .bp-widget ul.item-list li {
height: 30px;
padding: 0 0 8px;
border-bottom: 1px solid #EEE;
margin: 0 0 8px;
}
#bp-wrapper .bp-widget ul.item-list li h5 { 
line-height: 30px;
margin: 0;
padding: 0;
}
#bp-wrapper .item-list .item-footer .date { float: none; text-transform: none; }
#bp-wrapper ul.item-list div.action { top: 15px; right: 8px; }
#bp-wrapper ul.item-list div.action .meta { font-size: 11px; }
#bp-wrapper ul.item-list div.action .generic-button { margin-bottom: 0.5em; }
#bp-wrapper .manageMembers ul.item-list { margin-left: 25px; }


/* Item list info */
#bp-wrapper .item .item-meta { margin-top: 5px; }
#bp-wrapper .item .item-desc { margin: 0.8em 0 0; }


/* Tabs */
#bp-wrapper h3 {
margin-bottom: 20px;
}
#bp-wrapper div.item-list-tabs {
margin: 0;
padding: 0;
}
#bp-wrapper div.item-list-tabs.bp-content-tabs {
border-bottom: none;
}
#bp-wrapper div.item-list-tabs ul li {
margin: 0;
padding: 0;
}
#bp-wrapper div.item-list-tabs#subnav, 
#bp-wrapper div.messages-options-nav {
padding: 0 0 30px 0;
background: none;
position: relative;
z-index: 1;
overflow: none;
}
#bp-wrapper div.item-list-tabs#subnav ul li a {
color: #999;
}
#bp-wrapper div.item-list-tabs#subnav ul li {
margin: 0;
border: 0;
}
#bp-wrapper div.item-list-tabs#subnav ul li.current a,
#bp-wrapper div.item-list-tabs#subnav ul li a:hover {
color: #333;
}
#bp-wrapper div.bp-content-tabs li a {
background-position: 94% 50%;
background-repeat: no-repeat;
-webkit-transition: all 0.15s ease-in-out; -moz-transition: all 0.15s ease-in-out; transition: all 0.15s ease-in-out;
}
#bp-wrapper ul li.loading a {
background-image: url(../images/loader.gif);
background-position: 94% 50%;
background-repeat: no-repeat;
padding-right: 32px !important;
}


/* Sub-tabs */
#bp-wrapper div.item-list-tabs#subnav ul.sub-tabs li a,
#bp-wrapper div.messages-options-nav a {
border-left: 1px solid #e5e5e5;
padding-left: 7px;
}
#bp-wrapper div.item-list-tabs#subnav ul.sub-tabs li:first-child a {
border-left: none;
padding-left: 0;
}
#bp-wrapper div.item-list-tabs#subnav ul.sub-tabs li.current a {
font-weight: bold;
}


/* Activity */
#bp-wrapper form#whats-new-form {
margin: 0 0 30px 0;
padding: 8px;
}
#bp-wrapper form#whats-new-form #whats-new-submit {
float: left;
}
#bp-wrapper form#whats-new-form #whats-new-post-in-box {
float: right;
}
#bp-wrapper form#whats-new-form #whats-new-post-in-box {
padding: 3px;
}
#BP-Container div#bp-wrapper #whats-new-content .commentTextarea {
height: 68px;
}
#BP-Container div#bp-wrapper div.activity-comments form .ac-textarea textarea {
width: 97%;
margin-top: 8px;
height: 55px;
}
#bp-wrapper form#whats-new-form #whats-new-textarea,
#bp-wrapper div.activity-comments form .ac-textarea {
padding: 7px;
background: #fff;
}
#bp-wrapper div.activity-comments form {
margin: 18px 0;
padding: 0;
}
#bp-wrapper div.activity-comments form div.ac-reply-content {
margin-left: 35px;
}
#bp-wrapper div.activity-comments form {
margin-left: 0;
}
#bp-wrapper div.activity-comments ul li form{
margin-left: 35px;
}
#bp-wrapper ul.activity-list li div.activity-content .activity-inner p:last-child,
#bp-wrapper div.activity-comments ul li p:last-child {
margin-bottom: 0;
}
#bp-wrapper ul.activity-list li div.activity-comments ul,
#bp-wrapper ul.activity-list li div.activity-comments ul li ul {
margin: 0;
clear: left;
}
#bp-wrapper ul.activity-list li, #bp-wrapper .item-list .item-list-li {
clear: both;
list-style: none;
margin-left: 0;
padding: 0;
margin-top: 15px;
padding-top: 15px;
border-top: 1px solid #e5e5e5;
}
#bp-wrapper ul.activity-list li div.activity-comments {
margin: 0 0 0 99px;
}
#bp-wrapper ul.activity-list li div.activity-comments ul li {
margin: 25px 0 0 0;
overflow: visible;
}
#bp-wrapper ul.activity-list li div.activity-comments ul li ul li {
margin-left: 35px;
min-height: 77px; /* to ensure last avatar shadow isn't cut off */
}
#bp-wrapper .activity-list li div.activity-comments ul li .acomment-content {
min-height: 0;
padding-left: 0;
}
#bp-wrapper ul.activity-list li div.acomment-content, #bp-wrapper ul.activity-list li div.acomment-meta {
margin-left: 35px;
}
#bp-wrapper .activity-footer, #bp-wrapper .item-footer {
font-size: 9px;
}
#bp-wrapper .activity-footer .time-since, #bp-wrapper .item-footer .time-since,
#bp-wrapper .acomment-meta {
font-size: 11px;
color: #999;
}
#bp-wrapper .activity-footer p:first-child {
margin: 0;
padding: 0;
line-height: 12px;
}
#bp-wrapper ul.activity-list li div.activity-content,
#bp-wrapper .item-list .item-content-container {
min-height: 66px;
padding-bottom: 7px;
padding-top: 3px;
}
#bp-wrapper ul.activity-list li div.activity-content .activity-inner {
margin:  0 0 10px 0;
}
#bp-wrapper .acomment-meta {
margin: 0 0 0 80px;
padding: 0 0 5px 0;
}
#bp-wrapper .activity-list .activity-footer a:first-child { display: none; }
#bp-wrapper .activity-list .activity-footer .time-since { display: none; }
#bp-wrapper .activity-list .activity-footer, #bp-wrapper .item-list .item-footer { 
text-transform: uppercase; 
padding-top: 0.6em; 
border-top: 1px solid #e5e5e5;
clear: both; }
#bp-wrapper .activity-list .activity-footer .view,
#bp-wrapper .activity-list .activity-footer .delete-activity,
#bp-wrapper .item-list .item-footer .view, 
#bp-wrapper .item-list .item-footer .delete-activity,
#bp-wrapper .item-list .item-footer .item-actions { float: right; margin-left: 8px; }

#bp-wrapper .activity-list .no-inner-content .activity-footer a:first-child { display: inline; }
#bp-wrapper .activity-list .no-inner-content .poster-name { display: none; }
#bp-wrapper .activity-list .no-inner-content .activity-footer a { font-size: 14px; }
#bp-wrapper .activity-content .activity-meta a,
#bp-wrapper .activity-list .activity-footer .view,
#bp-wrapper .activity-list .activity-footer .delete-activity, 
#bp-wrapper .item-list .item-footer .view,
#bp-wrapper .item-list .item-footer .delete-activity, 
#bp-wrapper .item-list .item-footer .item-actions, 
#bp-wrapper .activity-list .no-inner-content .activity-footer .view,
#bp-wrapper .activity-list .no-inner-content .activity-footer .delete-activity {
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
}
#bp-wrapper .activity-list .no-inner-content .activity-footer .view,
#bp-wrapper .activity-list .no-inner-content .activity-footer .delete-activity {
margin-top: 30px;
}
#bp-wrapper .acomment-meta .acomment-reply,
#bp-wrapper .acomment-meta .acomment-delete {
font-size: 9px;
text-transform: uppercase;
}
/*#bp-wrapper .activity-content .activity-meta a {
background: #e5e5e5;
padding: 2px 9px 4px;
border-radius: 0 0 4px 4px;
border-top: 1px solid #CFD1D8;
}*/
#bp-wrapper .activity-content .activity-meta .sep,
#bp-wrapper .item-list .item-footer .admin-links {
color: #ccc;
}
#bp-wrapper .item-list .item-footer .admin-links a { padding: 0 3px; }
#bp-wrapper .item-list .item-footer .admin-links a:last-child { padding-right: 0; }
#bp-wrapper .activity-content .activity-meta,
#bp-wrapper .activity-content .date {
float: right;
display: block;
font-size: 11px;
line-height: 20px;
}
#bp-wrapper ul.activity-list li div.activity-comments .avatar { margin: 0; }
#bp-wrapper .no-inner-content .activity-footer {
font-size: 12px;
text-transform: none;
margin: 2em 0 1em;
border-top: 0;
padding: 0;
clear: right;
}

#bp-wrapper ul.activity-list li div.activity-inreplyto {
margin: 0 0 10px 5px;
padding: 0 0 0 25px;
color: #666;
background: url(../../../plugins/buddypress/bp-themes/bp-default/_inc/images/replyto_arrow.gif) no-repeat 7px 0;
font-size: 11px;
line-height: 19px;
}
#bp-wrapper div.activity-meta a.button {
background: none;
font-weight: normal;
color: #999;
margin: 0 0 0 10px;
padding: 0;
text-transform: none;
}
#bp-wrapper div.activity-meta a.button:hover {
color: #434343;
}
#bp-wrapper div.activity-meta a.button:hover span {
color: #434343;
}
#bp-wrapper #previous-next input,
#bp-wrapper #submit_topic_cancel {
border: 0;
color: #fff;
padding: 7px 10px;
font-weight: bold;
cursor: pointer;
}
.activity-list .activity-content .activity-header, .activity-list .activity-content .comment-header {
font-size: 11px;
}
.activity-list .activity-content .activity-header p {
margin-bottom: 5px;
}
.activity-list .activity-content img.thumbnail {
float: left;
margin-right: 15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #ccc;
}
.activity-list .activity-content img.thumbnail:hover {
border: 1px solid #999;
}
.activity-read-more {
margin-left: 5px;
}
a.bp-primary-action span, #reply-title small a span {
background: #e5e5e5;
color: #666;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
padding: 0 5px;
margin-left: 2px;
}
#bp-wrapper .activity.no-ajax #activity-stream.activity-list > li:first-child {
border: 0;
margin-top: 0;
padding-top: 0;
}
.acomment-options {
float: right;
margin: 5px 0 5px 35px;
font-size: 11px;
}
.acomment-options a {
color: #999;
font-size: 10px;
margin-left: 5px;
}
.acomment-options a:hover {
color: #434343;
}


/* Members */
#bp-wrapper #members-list.item-list .item-title, #bp-wrapper #member-list.item-list .item-title { margin-top: 0; line-height: 19px;}
#bp-wrapper #members-list.item-list .item-title.withStatus, #bp-wrapper #member-list.item-list .item-title.withStatus { margin-top: 0; }
#bp-wrapper #members-list.item-list .action, #bp-wrapper #member-list.item-list .action { margin-top: 26px;  }

#bp-wrapper .member-single-header .entry-title { float: left;  }
#bp-wrapper .member-single-header .highlight { float: left; line-height: 34px; padding-left: 12px; color: #999;  }
#bp-wrapper .member-single-header .activity { clear: left; margin: 1em 0;  }


/* Messages */
#bp-wrapper div.messages-options-nav { clear: both; line-height: 200%; margin-top: 1em; }
#bp-wrapper #message-threads { margin: 1em 0; border-top: 1px solid #EEE; float: none;  }
#bp-wrapper #message-threads td { vertical-align: middle; border-bottom: 1px solid #EEE; }
#bp-wrapper #message-threads.notice-threads td { vertical-align: top; }
#bp-wrapper #message-threads tr.unread td { background: #F5FAFE; }
#bp-wrapper #message-threads .m-sender, #bp-wrapper #message-threads .m-recipient, #bp-wrapper #message-threads .m-date, #bp-wrapper #message-threads .m-subject, #bp-wrapper #message-threads .thread-excerpt { 
white-space: nowrap;
overflow: hidden;
}
#bp-wrapper #message-threads .thread-count { text-align: right; }
#bp-wrapper #message-threads .thread-select { line-height: 1; }
#bp-wrapper #message-threads .thread-select input { margin: 0; }
#bp-wrapper #message-threads .thread-avatar .avatar { margin: 4px; }
#bp-wrapper #message-threads .m-date, #bp-wrapper #message-threads .m-from, #bp-wrapper #message-threads .m-to { 
text-transform: uppercase; 
font-size: 11px; 
color: #999; }
#bp-wrapper #message-threads .m-sender .m-from { display: none; }
#bp-wrapper #message {width: 568px; padding: 15px 0 0 0;font-weight: bold;border: 1px solid #e5e5e5;padding: 5px 10px;}
#bp-wrapper .fullwidth #message {width: 898px;}
#bp-wrapper #message.updated {margin: 1.5em 0;border-color:#4fa2c9;background: #ace3fc;color:#4088a9;}
#bp-wrapper #message.error {border-color:#9c4855;background: #f2a0ae;color:#77323d;}
#bp-wrapper #message.info {background: #eee;border-color:#ccc;color:#999;}

/* Message - single */
#bp-wrapper #message-thread .message-date {
font-size: 10px;
color: #999;
text-transform: uppercase;
font-weight: bold;
float: right;
}
#bp-wrapper #message-thread #MessageContainers .message-box {
border: 1px solid #e5e5e5;
margin: 0 0 1em;
-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; /* border radius */
}
#bp-wrapper #message-thread .message-metadata { line-height: 28px; }
#bp-wrapper #message-thread .message-sender .avatar { 
margin: 0 1em 0 0;
-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .6);
box-shadow: 0 0 3px rgba(0, 0, 0, .6);
}
#bp-wrapper #message-thread .message-content { clear: both; }
#bp-wrapper #message-thread .envelope-info { 
border-top: 1px solid white; 
border-bottom: 1px solid #e5e5e5; 
background: #f5f5f5; 
padding: 2px 8px 3px 8px; 
-webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; /* border radius */
}
#bp-wrapper #message-thread #MessageContainers .message-content { margin: 2em 1em; }
#bp-wrapper #message-thread #send-reply { margin: 2em 0 1em; }
#bp-wrapper #message-thread #send-reply .avatar { margin-top: 0; }


/* Blogs */
#bp-wrapper #blogs-list.item-list .item-title, #bp-wrapper #blog-list.item-list .item-title	{ margin-top: 22px; }
#bp-wrapper #blogs-list.item-list div.action	{ margin: 25px 0 0; }

/* Groups */
#bp-wrapper.group-single #item-header #item-header-content { float: none; margin-left: 169px; }
#bp-wrapper.group-single #item-header #item-header-content #item-meta { margin: 1.75em 0 0; } 
#bp-wrapper.group-single #item-header #item-actions { float: right; margin-left: 25px; }
#bp-wrapper.group-single #item-header ul#group-admins, #bp-wrapper.group-single #item-header ul#group-mods
{ margin: 0; padding: 0; }
#bp-wrapper.group-single #item-header ul#group-admins li, #bp-wrapper.group-single #item-header ul#group-mods li 
{ margin: 0 0 1.25em; padding: 0; list-style: none; clear: both; }
#bp-wrapper.group-single #item-header ul#group-admins li .avatar, #bp-wrapper.group-single #item-header ul#group-mods li .avatar
{ float: left; margin: 0 auto;}
#bp-wrapper.group-single #item-header ul#group-admins li .nickname, #bp-wrapper.group-single #item-header ul#group-mods li .nickname
{ float: left; margin: 2px 0 0 10px; }

#bp-wrapper #group-create-body { margin: 1.5em 0; }

#bp-wrapper #group-create-body label ul,
#bp-wrapper #group-settings-form label ul
{ margin: 10px 0 20px 0; }

#bp-wrapper .button,
#bp-wrapper a.button,
#bp-wrapper ul.button-nav li a,
#bp-wrapper div.generic-button a,
#bp-wrapper .comment-reply-link {
font-size: 11px;
color: #fff;
position: relative;
top: -1px;
font-weight: bold;
padding: 5px 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
#bp-wrapper #previous-next input {
border: 0;
color: #fff;
padding: 5px 10px;
font-weight: bold;
cursor: pointer;
}
#bp-wrapper #group-creation-next {
float: right;
}

ul.item-list li div.item-title,
ul.item-list li h4 {
width: 75%;
margin: 0;
}
ul.item-list li div.item-title a {
font-weight: bold;
}
ul.item-list li div.meta {
margin-top: 10px;
}
ul.item-list li img.avatar {
float: left;
margin: 0 10px 0 0;
}

span.highlight {
font-size: 10px;
padding: 2px 5px;
background: #eee;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
div#item-header ul img.avatar,
div#item-header ul.avatars img.avatar {
height: 30px;
width: 30px;
margin: -10px 10px 30px 0;
}
div#item-header div#item-actions h3 {
font-size: 12px;
}


/* Forums */
#bp-wrapper table tr td,
#bp-wrapper table tr th {
vertical-align: middle;
}
#th-postcount,
.td-postcount {
text-align: center;
}
#bp-wrapper .forumTitle { float: left; }
#bp-wrapper .createForumButton { float: left; line-height: 33px; }

#bp-wrapper table.forum { margin: 20px 0; width: 100%; background: #f5f5f5; border-bottom: 0; }
#bp-wrapper table.forum thead tr { background: #e5e5e5; }
#bp-wrapper table.forum tbody tr.alt { background: #fafafa; }
#bp-wrapper table.forum tbody td { border-width: 0; }

#bp-wrapper .forum-list-container { margin: 10px 0 20px; padding: 0; border: 1px solid #e5e5e5; background: #f5f5f5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }	
#bp-wrapper ul.forum-list { margin: 0; padding: 0; }	
#bp-wrapper ul.forum-list .thread-poster, #bp-wrapper ul.forum-list .thread-info { float: left; }	
#bp-wrapper ul.forum-list .thread-history { float: right; text-align: right; }	
#bp-wrapper ul.forum-list .thread-poster .avatar { margin: 0 15px 0 0; }	
#bp-wrapper ul.forum-list li { list-style-type: none; padding: 12px 16px; border-top: 1px solid #fff; border-bottom: 1px solid #e5e5e5; }	
#bp-wrapper ul.forum-list li:first-child { -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }	
#bp-wrapper ul.forum-list li:last-child { border-bottom-color: #fff; -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }	
#bp-wrapper .thread-title .item-title { margin: 7px 0 10px; padding: 0; }
#bp-wrapper .thread-post-users, #bp-wrapper .thread-group { line-height: 10px; }
#bp-wrapper .thread-post-users a, #bp-wrapper .thread-group a, #bp-wrapper .thread-history a { 
font-weight: bold;
}
#bp-wrapper .thread-post-users .sep { color: #b9b9b9; padding: 0 5px; }
#bp-wrapper .thread-history .thread-postcount { line-height: 28px; margin: 14px 0 0; }
#bp-wrapper .thread-history .postCount {
font-size: 26px;
text-shadow: 0 1px 0 #fff;
line-height: 1;
}
#bp-wrapper .thread-history .postCount, #bp-wrapper .thread-history .replies { float: right; margin: 0 0 0 7px; }
#bp-wrapper .thread-history .thread-freshness {
margin: 2px 0 0;
color: #999;
text-shadow: 0 1px 0 white;
font-weight: normal;
font-size: 9px;
}

#bp-wrapper #topic-meta .entry-title { margin: 1em 0 .5em; }
#bp-wrapper #topic-meta .sub-tabs.admin-links { line-height: 200%; color: #999; }
#bp-wrapper #topic-meta .sub-tabs.admin-links a { padding: 0 3px 0 4px; }
#bp-wrapper #topic-post-list .comment-header { margin-bottom: 0.6em; }
#bp-wrapper #topic-post-list .poster-name, #bp-wrapper .topic-post-list .said { float: left; margin: 0 8px 0 0; padding: 0; }
#bp-wrapper #topic-post-list .said { color: #999; text-transform: uppercase; font-size: 10px; line-height: 24px; }
#bp-wrapper #topic-post-list .post-content { margin: 10px 0 15px 51px; }

#bp-wrapper .standard-form #topic_title { width: 350px; }
#bp-wrapper .standard-form #topic_text { height: 200px; }
#bp-wrapper .standard-form #topic_tags { width: 275px; }



table.forum tr td.td-title a.topic-title {
font-weight: bold;
}
table.forum tr.sticky td {
background: #FFF9DB;
}
table.forum td img.avatar {
float: none;
margin: 0 5px -8px 0;
}
table.forum p.topic-meta {
font-size: 11px;
margin: 5px 0 0 0;
}
table.forum td.td-freshness span.time-since {
font-size: 11px;
}

div#topic-meta {
position: relative;
padding: 20px 19px 10px 20px;
margin: -10px -19px;
}
div#new-topic-post {
margin: 20px 0 0 0;
padding: 1px 0 0 0;
}
div.admin-links {
position: absolute;
font-size: 11px;
}
div#topic-meta div.admin-links {
z-index: 2;
right: 19px;
top: -30px;
}
div.admin-links {
font-size: 11px;
position: absolute;
right: 0;
top: 15px;
}
div.pagination,
.bbp-pagination {
float: left;
padding: 10px;
background: #f5f5f5;
font-size: 11px;
width: 570px !important;
}
.fullwidth div.pagination,
.fullwidth  .bbp-pagination {
width: 900px !important;
}
ul#topic-post-list li {
border-bottom: 1px solid #e5e5e5;
padding: 15px 0 0 0;
}
#post-topic-reply {
margin-top: 40px;
}
ul#topic-post-list li div.poster-meta {
font-size: 11px;
}
#bp-wrapper div#subnav.item-list-tabs ul li {
margin-top: 10px;
}
#bp-wrapper #item-body div#subnav.item-list-tabs li {
margin-top: 0;
}
#bp-wrapper div#subnav.item-list-tabs ul li.feed a {
display: block;
text-indent: -9999px;
background: url(../images/sprite.png) no-repeat -286px -87px;
width: 20px;
height: 17px;
}
#bp-wrapper div#subnav.item-list-tabs ul li.feed a:hover {
background: url(../images/sprite.png) no-repeat -286px -57px;
}
div.topic-tags {
float: right;
font-size: 11px;
margin-top: -35px;
}

/* Register, Create Blog... and other forms */
#bp-wrapper .register-section .textInput, #bp-wrapper .register-section input[type="text"],
#bp-wrapper .create-form .textInput, #bp-wrapper .create-form input[type="text"] { 
width: 250px; }
#bp-wrapper .register-section #signup_username,
#bp-wrapper .register-section #signup_password,
#bp-wrapper .register-section #signup_password_confirm { width: 142px; }
#bp-wrapper .register-section,
#bp-wrapper .create-form {
padding: 6px 18px 16px;
margin: 1em 0;
border: 1px solid #e5e5e5;
}
#bp-wrapper .register-section h4,
#bp-wrapper .create-form h4 {
line-height: 1;
margin: -6px -18px 0;
padding: 8px 18px;
background: #f5f5f5;
}
#bp-wrapper .create-form label { font-weight: bold; }


/* Widgets */
.widget .item-options {
font-size: 11px;
font-weight: bold;
margin-bottom: 20px;
}
.widget ul li {
float: left;
width: 100%;
clear: both;
}
#bp-wrapper .widget .dir-list ul.item-list,
#bp-wrapper .widget #groups-list.item-list,
#bp-wrapper .widget #members-list.item-list,
#bp-wrapper .widget #blogs-list.item-list {
border-top: 0;
}
.widget .item-list li,
#bp-wrapper .widget .dir-list .item-list li,
#bp-wrapper .widget #group-list.item-list li,
#bp-wrapper .widget #groups-list.item-list li,
#bp-wrapper .widget #members-list.item-list li,
#bp-wrapper .widget #member-list.item-list li,
#bp-wrapper .widget #blog-list.item-list li,
#bp-wrapper .widget #blogs-list.item-list li {
border: 0;
border-top: 1px solid #eee;
padding: 15px 0 0 0;
margin: 15px 0 0 0;
}
.widget .item-list li:first-child,
#bp-wrapper .widget .dir-list .item-list li:first-child,
#bp-wrapper .widget #group-list.item-list li:first-child,
#bp-wrapper .widget #groups-list.item-list li:first-child,
#bp-wrapper .widget #members-list.item-list li:first-child,
#bp-wrapper .widget #member-list.item-list li:first-child,
#bp-wrapper .widget #blog-list.item-list li:first-child,
#bp-wrapper .widget #blogs-list.item-list li:first-child {
border-top: 0;
padding: 0;
margin: 0;
}

.widget .item-avatar {
float: left;
margin: 0 1em 1em 0;
}
.widget ul.item-list div.item-avatar {
margin: 0 1em 0 0;
}
.widget .item-avatar img.avatar {
margin: 0;
}
.widget .item-avatar a {
padding: 0;
}
.widget ul li .item-title {
font-weight: bold;
}
.widget ul li .item-title a {
padding: 5px 0 6px;
}
.widget ul li .item-meta {
font-size: 11px;
padding: 5px 0 0 0;
}
.widget ul li .activity-header {
font-size: 11px;
font-weight: bold;
}
.widget ul li .activity-inner {
font-size: 12px;
}


/* bbPress Site-wide Forums */
.bbPress ul li {
margin: 0;
}
.bbPress table tr td,
.bbPress table tr th {
vertical-align: middle;
}
.bbPress .bbp-forum-topic-count,
.bbPress .bbp-forum-reply-count {
text-align: center;
}
.bbPress .bbp-forums,
.bbPress .bbp-topics {
width: 100%;
clear: both;
}
.bbPress table.bbp-forums th,
.bbPress table.bbp-topics th,
.bbPress table.bbp-topic th,
.bbPress table.bbp-replies th {
background: #e5e5e5 !important;
}
.bbPress .bbp-forums tfoot tr,
.bbPress .bbp-topics tfoot tr {
display: none;
}
.bbPress .bbp-forums tr.even,
.bbPress .bbp-topics tr.even {
background: #fafafa;
}
.bbPress .bbp-topics tr.sticky td {
background: #FFF9DB !important;
}
.bbPress .bbp-forums tr.odd,
.bbPress .bbp-topics tr.odd {
background: #f5f5f5;
}
.bbPress #main-content .hentry {
float: none;
width: 100%;
position: relative;
margin: 0;
padding: 0;
border: 0;
}
.bbPress .bbp-forums td,
.bbPress .bbp-topics td {
border-width: 0;
}
.bbPress #main-content table tbody tr ul.bbp-forums {
border-left: 1px solid #999;
list-style: none;
margin: 5px 0 0 10px;
padding: 0 0 0 10px;
}
.bbPress table tbody tr ul.bbp-forums li {
display: inline;
}
.bbPress .bbp-forum-title,
.bbPress .bbp-topic-title {
font-weight: bold;
}
.bbPress .bbp-forum-description {
line-height: 16px;
font-size: 11px;
margin-top: 5px;
}
.bbPress .bbp-topic-started-by {
font-weight: normal;
}
.bbPress .bbp-forum-freshness,
.bbPress .bbp-topic-meta,
.bbPress .bbp-topic-freshness {
font-size: 11px !important;
}
.bbPress .bbp-form {
border: 1px solid #e5e5e5;
padding: 10px 20px;
}
.bbPress fieldset.bbp-form,
.bbPress fieldset.bbp-form,
.bbPress fieldset.bbp-form {
clear: left;
}
.bbPress .bbp-form legend {
color: #333;
padding: 5px;
}
.bbPress .bbPress span.bbp-admin-links {
color: #999;
}
.bbPress span.bbp-admin-links a {
font-size: 11px;
text-transform: none;
}
.bbPress tbody .bbp-topic-content,
.bbPress tbody .bbp-reply-content {
vertical-align: top;
overflow: auto;
}
.bbPress .bbp-pagination {
margin: 20px 0;
}
.bbPress .bbp-breadcrumb,
.bbPress .bbp-breadcrumb a {
font-weight: bold;
}
.bbPress .bbp-breadcrumb p {
margin-bottom: 30px;
}
.bbPress p.bbp-topic-meta img.avatar, .bbPress ul.bbp-reply-revision-log img.avatar, .bbPress ul.bbp-topic-revision-log img.avatar, .bbPress div.bbp-template-notice img.avatar, .bbPress .widget_display_topics img.avatar, .bbPress .widget_display_replies img.avatar, .bbPress p.bbp-topic-meta img.avatar, #main ul.bbp-reply-revision-log img.avatar, #main ul.bbp-topic-revision-log img.avatar, #main div.bbp-template-notice img.avatar, #main .widget_display_topics img.avatar, #main .widget_display_replies img.avatar, #main p.bbp-topic-meta img.avatar, #container ul.bbp-reply-revision-log img.avatar, #container ul.bbp-topic-revision-log img.avatar, #container div.bbp-template-notice img.avatar, #container .widget_display_topics img.avatar, #container .widget_display_replies img.avatar {
float: none;
margin-bottom: -3px;
}
.bbPress .bbp-template-notice.info .bbp-forum-description {
font-size: 12px;
}
.bbPress #rename_tag div {
margin-bottom: 10px;
}
.widget .bbp-login-links {
float: left;
width: 100%;
}
.widget .bbp-login-form .bbp-login-links a {
clear: none;
margin: 10px 10px 0 0;
}